@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    background-color: #F1EFEA;
}

.signup{
    background-image: url(./assets/fAEbUH.webp);
    background-size: cover;
}

.login{
    background-image: url(./assets/fAEbUH.webp);
    background-size: cover;
}

.adminLogin {
    --tw-bg-opacity: 1;
    background-color: black;
}
