@import url('https://fonts.googleapis.com/css2?family=Bodoni+Moda:opsz,wght@6..96,400;6..96,500&family=Lobster&family=Monoton&family=Pacifico&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;


body {
    background-color: #F1EFEA;
}

.signup{
    background-image: url(./assets/fAEbUH.webp);
    background-size: cover;
}

.login{
    background-image: url(./assets/fAEbUH.webp);
    background-size: cover;
}

.adminLogin {
    --tw-bg-opacity: 1;
    background-color: black;
}
